* {
  padding: 0;
  margin: 0;
}
#change {
  background-color: red;
}
textarea {
  resize: none;
}
.save-sentence {
	padding: 20px;
	margin: 20px;
}
.next-step p{
  float: left;
}
.old_text {
  padding: 10px;
  margin-bottom:10px;
  border: 1px solid #333333;
  width: 30%;
}
.text-center p{
  background-color: #c0c0c0;
  margin-bottom: 10px;
  width: 100px;
  text-align: center;
  float: left;
  margin: 10px;
}
.check-list {
  clear: both;
}
.old_text{
width:80%;
}
@media (max-width: 1000px) {
  .text-center p{
    width: 80%;
    text-align: center;
}
.sample {
    color: #aaa;
  }
.text-center {
padding-bottom: 30px;
margin-top: 90px;
color:#000;
}
#contents_text {
width:80%;
}
.old_text{
width:80%;
}
}
